{% block stylesheets %}

   <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
  <script src="{{ asset('js/jquery.min.js') }}"></script>
  <script src="{{ asset('js/bootstrap.js') }}"></script>
{% endblock %}

<h3>Formulaire d'ajout d'image</h3>

<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form)}}
    {{ form_row(form.date)}}

    <div class="form-group">
        {{ form_label(form.name, 'nom de l\'image', {'label_attr:': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.name) }}
        <div class="col-sm-4">
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    {{ form_row(form.datetime) }}
    {{ form_row(form.content ) }}
    {{ form_row(form.categorie) }}
    {{ form_row(form.file) }}
    <br>
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>